

/* GLOBAL STYLING */
a {
    text-decoration: none !important;
    color: white !important;
}


/* LOGIN, LOGOUT FORM STYLE  */

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}


.form-container form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #DFDFDF;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container a {
    text-decoration: 'none';
    color: #0B5ED7 !important;
}



@media only screen and (min-width: 700px) and (max-width: 1115px) {
    .form-container img {
        width: 60%;
    }
}

@media only screen and (max-width: 750px) {
    .form-container img {
        width: 100%;
    }

    .form-container form {
        width: 70% !important;
    }

    .form-container form h1 {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 400px) {
    .form-container form {
        width: 90% !important;
    }
}



/* Navbar Styling  */

.navbar-container {
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.cart {
    position: relative;
    right: 5px;
    top: 6px;
    text-decoration: none;
    color: white;
}

.cart-items-length {
    position: relative;
    right: 2px;
    top: -5px;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width:991px) {
    .cart {
        display: none;
    }
    .cart-items-length {
        display: none;
    }
}

.text-white {
    font-weight: bold;
    text-decoration: underline !important;
}


/* CARD STYLIMG  */

.card-container {
    width: 18rem;
    margin: 50px 10px 0px 10px;
    padding: 25px 0px 0px 0px;
    text-decoration: none;
    text-align: center;
}

.card-container:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border: none;
}

.card-container a {
    color: black !important;
}

@media  screen and (max-width:500px) {
    .card-container {
        width: 15rem;
    }
}

.remove-from-cart-btn {
    width: 35%;
    margin: 0 auto;
    margin-top: -15px;
}

/* LOADER STYLING  */

.loader-container {
    text-align: center;
    margin-top: 20px;
    color: #000;
}


/* SELECTED ITEM STYLING  */

.selected-item-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

.selected-item-image {
    height: 200px !important;
    margin-right: 40px;
}

.selected-item-quantity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20%;
}

.selected-item-quantity-inner {
    display: flex;
    justify-content: space-around;
    width: 30%;
    gap: 10px;
    margin-left: 18px;
}

@media only screen and (max-width:800px) {
    .selected-item-container {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .selected-item-inner-container {
        margin-top: 30px;
    }
    .selected-item-image {
        width: 100%;
    }
}

@media only screen and (max-width:450px) {
    .selected-item-container {
        width: 80%;
    }
}



